<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @grupo_criterio.nome %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @grupo_criterio.peso %>
</p>

<%= link_to 'Edit', edit_grupo_criterio_path(@grupo_criterio) %> |
<%= link_to 'Back', grupo_criterios_path %>
