<p id="notice"><%= notice %></p>

<p>
  <strong>Grupo avaliacao:</strong>
  <%= @grupo_usuario.grupo_avaliacao %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @grupo_usuario.usuario %>
</p>

<%= link_to 'Edit', edit_grupo_usuario_path(@grupo_usuario) %> |
<%= link_to 'Back', grupo_usuarios_path %>
