<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @projeto.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @projeto.descricao %>
</p>

<% @projeto.alternativas.each do |alternativa| %>
  <tr>
    <td><%= alternativa.nome %></td>
    <td><%= alternativa.codigo %></td>
    <td><%= link_to 'Show', alternativa %></td>
    <td><%= link_to 'Edit', edit_alternativa_path(alternativa, projeto_id: @projeto.id) %></td>
    <td><%= link_to 'Destroy', alternativa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br/>
<% end %>
<%= link_to 'New Alternativa', new_alternativa_path(projeto_id: @projeto.id) %>
<br/><br/>
<% @projeto.criterios.each do |criterio| %>
  <tr>
    <td><%= criterio.nome %></td>
    <td><%= criterio.codigo %></td>
    <td><%= link_to 'Show', criterio %></td>
    <td><%= link_to 'Edit', edit_criterio_path(criterio, projeto_id: @projeto.id) %></td>
    <td><%= link_to 'Destroy', criterio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br/>
<% end %>
<%= link_to 'New Criterio', new_criterio_path(projeto_id: @projeto.id) %>
<br/><br/>

<%= link_to 'Edit', edit_projeto_path(@projeto) %> |
<%= link_to 'Back', projetos_path %>
