<%= form_for(criterio) do |f| %>
  <% if criterio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(criterio.errors.count, "error") %> prohibited this criterio from being saved:</h2>

      <ul>
      <% criterio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :projeto_id, value: params[:projeto_id] %>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :codigo %>
    <%= f.text_field :codigo %>
  </div>

  <div class="field">
    <%= f.label :criterio_id %>
    <%= f.text_field :criterio_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
