<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @criterio.nome %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @criterio.codigo %>
</p>

<%= link_to 'Editar', edit_criterio_path(@criterio), :class => "btn btn-warning" %>
<%= link_to 'Voltar', Projeto.find(@criterio.projeto_id), :class => "btn btn-primary" %>
