<%= form_for(grupo_avaliacao) do |f| %>
  <% if grupo_avaliacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grupo_avaliacao.errors.count, "error") %> prohibited this grupo_avaliacao from being saved:</h2>

      <ul>
      <% grupo_avaliacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :peso %>
    <%= f.text_field :peso %>
  </div>

  <div class="field">
    <%= f.label :projeto_id %>
    <%= f.text_field :projeto_id %>
  </div>

  <div class="field">
    <%= f.label :ativo %>
    <%= f.check_box :ativo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
