<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @alternativa.nome %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @alternativa.codigo %>
</p>

<%= link_to 'Editar', edit_alternativa_path(@alternativa), :class => "btn btn-warning" %>
<%= link_to 'Voltar', Projeto.find(@alternativa.projeto_id), :class => "btn btn-primary" %>
