<%= form_for :julgamento_criterio, :url => julgamento_criterio_update_all_path(:projeto_id => @projeto.id), :html => { :method => :put } do %>

  <% opcoes = [["1",1.0],["2",2.0],["3",3.0],["4",4.0],["5",5.0],["6",6.0],["7",7.0],["8",8.0],["2",9.0],["1/2",0.5],["1/3",0.333],["1/4",0.25],["1/5",0.25],["1/6",0.167],["1/7",0.143],["1/8",0.125],["1/9",0.111]] %>
  <% @criterios1 = @projeto.criterios %>
  <% @criterios2 = @projeto.criterios %>
  <br/>
    <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <th></th>
          <% @criterios1.each do |c1| %>
            <th><%= c1.nome %></th>
          <% end %>
        </tr>
        <% @criterios1.each do |c1| %>
          <tr>
            <th><%= c1.nome %></th>
            <% @criterios2.each do |c2| %>
              <% @jc = @julgamento_criterios.find_by(:criterio_1_id => c1.id, :criterio_2_id => c2.id) %>
              <%= fields_for "j[]", @jc do |f| %>
                <td><%= f.select :valor, opcoes  %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <br/>
  <%= submit_tag "Salvar", :class => "btn btn-primary"%>
  <%= link_to "Voltar",Projeto.find(params[:projeto_id]) ,:class => "btn btn-warning"%>

<% end %>
