<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AHP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>

    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>&nbsp;Analytic Hierarchy Process – AHP</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <% if usuario_signed_in? %>
                        <li><a class="navbar-link">Logged in as <strong><%= current_usuario.email %></strong></a></li>
                        <li><%= link_to 'Edit profile', edit_usuario_registration_path, :class => 'navbar-link' %></li>
                        <li><%= link_to "Logout", destroy_usuario_session_path, method: :delete, :class => 'navbar-link'  %></li>
                      <% else %>
                        <li><%= link_to "Sign up", new_usuario_registration_path, :class => 'navbar-link'  %> </li>
                        <li><%= link_to "Login", new_usuario_session_path, :class => 'navbar-link'  %></li>
                      <% end %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- /. NAV TOP  -->
        <% if usuario_signed_in? %>
          <nav class="navbar-default navbar-side" role="navigation">
              <div class="sidebar-collapse">
                  <ul class="nav" id="main-menu">
                      <li class="text-center user-image-back">
                          <img src=<%= image_path("find_user.png") %> class="img-responsive" />
                      </li>
                      <li>
                          <%= link_to 'Projetos', projetos_path %>
                      </li>
                  </ul>
              </div>
          </nav>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                      <%= yield %>
                    </div>
                </div>
                 <!-- /. ROW  -->
                <hr />

                 <!-- /. ROW  -->
               </div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
        <% else %>
          <%= yield %>
        <% end %>
        </div>
     <!-- /. WRAPPER  -->
</body>
</html>
