<%= form_for :julgamento, :url => julgamento_update_all_path(:projeto_id => @projeto.id), :html => { :method => :put } do %>

  <% @alternativas_1 = @projeto.alternativas %>
  <% @alternativas_2 = @projeto.alternativas %>
  <% @projeto.criterios.each do |c| %>
    <div class="row">
    <!-- <div class="col-md-3"></div> -->
    <div class="col-md-8">


      <table class="table table-striped table-bordered table-hover">
        <caption><h3><%= c.nome %></h3></caption>
        <tr>
          <th></th>
          <% @alternativas_1.each do |a| %>
              <th><%= a.nome %></th>
          <% end %>
        </tr>
          <% @alternativas_1.each do |a1| %>
            <tr>
              <th><%= a1.nome %></th>
              <% @alternativas_2.each do |a2| %>
                <% @jc = @julgamentos.find_by(:alternativa_1_id => a1.id, :alternativa_2_id => a2.id, :criterio_id => c.id) %>
                <%= fields_for "j[]", @jc do |f| %>
                  <td><%= f.text_field :valor  %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
      </table>

    </div>
    </div>
    <br/>
  <% end %>
<br/><br/>
  <!-- <% @projeto.criterios.each do |c| %>

    <h2><%= c.nome %><h2/>
    <% @jc = @julgamentos.where(:criterio_id => c.id) %>
    <% @jc.each do |j| %>

      <%= fields_for "j[]", j do |f| %>
        <%= j.alternativa_1.nome %> - <%= j.alternativa_2.nome %>: <%= f.text_field :valor  %>
        <br/>
      <% end %>

    <% end %>
    <br/>
  <% end %> -->


  <%= submit_tag "Salvar", :class => "btn btn-primary"%>
  <%= link_to "Voltar",Projeto.find(params[:projeto_id]) ,:class => "btn btn-warning"%>
<% end %>
