<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @julgamento.usuario %>
</p>

<p>
  <strong>Projeto:</strong>
  <%= @julgamento.projeto %>
</p>

<p>
  <strong>Criterio:</strong>
  <%= @julgamento.criterio %>
</p>

<p>
  <strong>Alternativa:</strong>
  <%= @julgamento.alternativa %>
</p>

<p>
  <strong>Alternativa:</strong>
  <%= @julgamento.alternativa %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @julgamento.valor %>
</p>

<%= link_to 'Edit', edit_julgamento_path(@julgamento) %> |
<%= link_to 'Back', julgamentos_path %>
